/* For Tablets */
@media all and (max-width: 1000px) {
  .team {
    width: 50%;
    margin-bottom: 50px;
  }

  .work {
    width: 50%;
    margin-bottom: 50px;
  }

  .contact-wrapper{
    width: 50%;
    margin-bottom: 25px;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }

  .footer-content{
    width: 50%;
    margin-bottom: 25px;
  }
}



/* For Smartphones */
@media all and (max-width: 670px) {
  .team {
    width: 100%;
  }

  .work {
    width: 100%;
  }
  
  .contact-wrapper{
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
  }

  .btn {
    width: 100%;
  }
  
  .facebook {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: center;
  }
  
  .header-right {
    display: none;
  }
  
  .menu-icon {
    display: block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .footer-content{
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
  }
}

