* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

html{
	scroll-behavior: smooth;
}

.clear {
  clear: left;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background: url("../img/space1.png");
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 3px;
}

.top-wrapper span {
  color: #ff9e4a;
  font-size: 48px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  letter-spacing: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 50px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.more {
  background-color: #4a316f;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 7px #2a1a48;
}

.btn:hover {
  color: #ff9e4a;
}

.btn:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(42, 26, 71, 0.72);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 10px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #ff9e4a;
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.work-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.contents-item {
  float: left;
  margin-right: 42px;
  position: center;
}

.team-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  color: #2a1a48;
}

.team {
  float: left;
  width: 25%;
}

.team-icon {
  position: relative;
}

.team-icon p{
  font-size: 20px;
  color: #2a1a48;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 5px;
  font-size: 15px;
  color: #2a1a48;
}

.heading h3 {
  font-weight: normal;
}

.contact-form {
  padding-top: 0px;
}

input, textarea {
  width: 350px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 10px ;
  font-size: 18px;
  border: 1px solid #dee7ec;
  color: #ff9e4a;
}

.contact-submit {
  color: white;
  padding: 15px 40px;
  background-color: #4a316f;
  cursor: pointer;
  box-shadow: 0 7px #2a1a48;
  border-radius: 30px

}
.contact-submit:hover {
  color: #ff9e4a;
}

.contact-submit:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.message-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #4a316f;
  cursor: pointer;
  box-shadow: 0 7px #2a1a48;
  border-radius: 30px
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.opening{
  background-color: #fff;
  widows: 100%;
  height: 100px;
}

footer{
  background-color: #4a316f;
  padding-top: 25px;
  color: white;
}

.container1 {
  padding: 0 25px;
}

.footer-content img{
  width: 250px;
  margin-top: 50px;
}

.footer-contents{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.footer-content{
  flex: auto;
  width: 25%;
}

.footer-content p{
  width: 90%;
}

.footer-content a{
  color: white;
  text-decoration: none;
}

.footer-content a:hover {
  color: #ff9e4a;
}

.footer-content p:hover{
  cursor: pointer;
  color: #ff9e4a;
}

.fab{
  color: white;
  margin-right: 15px;
}

.fab:hover{
  transform: scale(1.25);
  color: #ff9e4a;
}

.copyright{
  background-color:#4a316f;
  padding: 1px 0;
  text-align: center;
}

.copyright h6{
  font-weight: normal;
}
